In [1]:
import pandas as pd
import  numpy as np

In [15]:
df=pd.read_csv("/content/sample_data/california_housing_train.csv")

In [16]:
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In [17]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [18]:
import statsmodels.api as sm

In [19]:
df=sm.add_constant(df)

In [20]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [21]:
model=sm.OLS(y,x).fit()

In [22]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:     median_house_value   R-squared:                       0.641
Model:                            OLS   Adj. R-squared:                  0.641
Method:                 Least Squares   F-statistic:                     3798.
Date:                Wed, 29 Sep 2021   Prob (F-statistic):               0.00
Time:                        07:06:54   Log-Likelihood:            -2.1365e+05
No. Observations:               17000   AIC:                         4.273e+05
Df Residuals:                   16991   BIC:                         4.274e+05
Df Model:                           8
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
const              -3.621e+06   6.92e+04    -52.312      0.000   -3.76e+06   -3.48e+06
longitude          -4.314e+04    789.568    -54.637      0.000   -4.47e+04   -4.16e+04
latitude           -4.293e+04    745.804    -57.556      0.000   -4.44e+04   -4.15e+04
housing_median_age  1150.6949     47.577     24.186      0.000    1057.438    1243.951
total_rooms           -8.3783      0.863     -9.711      0.000     -10.069      -6.687
total_bedrooms       117.6485      7.687     15.305      0.000     102.582     132.715
population           -38.4888      1.186    -32.456      0.000     -40.813     -36.164
households            45.4360      8.445      5.380      0.000      28.883      61.989
median_income       4.051e+04    368.172    110.022      0.000    3.98e+04    4.12e+04
==============================================================================
Omnibus:                     4032.682   Durbin-Watson:                   1.162
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            15559.395
Skew:                           1.141   Prob(JB):                         0.00
Kurtosis:                       7.094   Cond. No.                     5.14e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.14e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [23]:
df.corr()

                    const  longitude  ...  median_income  median_house_value
const                 NaN        NaN  ...            NaN                 NaN
longitude             NaN   1.000000  ...      -0.015485           -0.044982
latitude              NaN  -0.925208  ...      -0.080303           -0.144917
housing_median_age    NaN  -0.114250  ...      -0.115932            0.106758
total_rooms           NaN   0.047010  ...       0.195383            0.130991
total_bedrooms        NaN   0.071802  ...      -0.013495            0.045783
population            NaN   0.101674  ...      -0.000638           -0.027850
households            NaN   0.059628  ...       0.007644            0.061031
median_income         NaN  -0.015485  ...       1.000000            0.691871
median_house_value    NaN  -0.044982  ...       0.691871            1.000000

[10 rows x 10 columns]